In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('ZCSVs/googleplaystore.csv')
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [5]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

**1st: Fix The Category Column**

In [7]:
df[df['Category'] == '1.9']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [8]:
df.drop(df[df['Category'] == '1.9'].index, inplace=True)

In [9]:
df[df['Category'] == '1.9']

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [10]:
df['Category'] = df['Category'].astype(str).str.capitalize()

In [11]:
df['Category'].unique()

array(['Art_and_design', 'Auto_and_vehicles', 'Beauty',
       'Books_and_reference', 'Business', 'Comics', 'Communication',
       'Dating', 'Education', 'Entertainment', 'Events', 'Finance',
       'Food_and_drink', 'Health_and_fitness', 'House_and_home',
       'Libraries_and_demo', 'Lifestyle', 'Game', 'Family', 'Medical',
       'Social', 'Shopping', 'Photography', 'Sports', 'Travel_and_local',
       'Tools', 'Personalization', 'Productivity', 'Parenting', 'Weather',
       'Video_players', 'News_and_magazines', 'Maps_and_navigation'],
      dtype=object)

**2nd: Fix The Rating Column**

In [13]:
print(df['Rating'].isnull().sum())
print(df['Rating'].unique())

1474
[4.1 3.9 4.7 4.5 4.3 4.4 3.8 4.2 4.6 3.2 4.  nan 4.8 4.9 3.6 3.7 3.3 3.4
 3.5 3.1 5.  2.6 3.  1.9 2.5 2.8 2.7 1.  2.9 2.3 2.2 1.7 2.  1.8 2.4 1.6
 2.1 1.4 1.5 1.2]

In [14]:
df["Rating"] = df["Rating"].fillna(df.groupby(["Category", "Price"])["Rating"].transform("median"))

In [15]:
df['Rating'] = pd.to_numeric(df['Rating'],errors='coerce')
df = df[ ( df['Rating'] >= 0  ) & ( df['Rating']<=5 ) ]

In [16]:
df.isnull().sum()

App               0
Category          0
Rating            0
Reviews           0
Size              0
Installs          0
Type              1
Price             0
Content Rating    0
Genres            0
Last Updated      0
Current Ver       8
Android Ver       2
dtype: int64

**3rd: Fix The Reviews Column**

In [18]:
df['Reviews'] = pd.to_numeric(df['Reviews'], errors = 'coerce' )

In [19]:
df.describe()

             Rating       Reviews
count  10784.000000  1.078400e+04
mean       4.205833  4.464593e+05
std        0.482760  2.935178e+06
min        1.000000  0.000000e+00
25%        4.100000  3.900000e+01
50%        4.300000  2.167000e+03
75%        4.500000  5.553650e+04
max        5.000000  7.815831e+07

**4th: Fix The Size Column**

In [21]:
# Converting all of them into MBs
def size_col(i):
        if('M' in i):
            i = i.replace('M','')
            return(i)

        elif('k' in i):
            i = i.replace('k','')
            i = float(i)/1024
            return(i)

        elif('G' in i):
            i = i.replace('G','')
            i = float(i)*1024
            return(i)
        else:
            return(i)
            
df['Size'] = df['Size'].apply(size_col)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10784 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10784 non-null  object
 1   Category        10784 non-null  object
 2   Rating          10784 non-null  float64
 3   Reviews         10784 non-null  int64
 4   Size            10784 non-null  object
 5   Installs        10784 non-null  object
 6   Type            10783 non-null  object
 7   Price           10784 non-null  object
 8   Content Rating  10784 non-null  object
 9   Genres          10784 non-null  object
 10  Last Updated    10784 non-null  object
 11  Current Ver     10776 non-null  object
 12  Android Ver     10782 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 1.2+ MB

In [23]:
df['Size'] = df['Size'].replace('Varies with device', np.nan)
df['Size'] = pd.to_numeric(df['Size'], errors = 'coerce')
df['Size'] = df['Size'].round(2)

In [24]:
df.describe()

             Rating       Reviews         Size
count  10784.000000  1.078400e+04  9089.000000
mean       4.205833  4.464593e+05    21.573896
std        0.482760  2.935178e+06    22.609137
min        1.000000  0.000000e+00     0.010000
25%        4.100000  3.900000e+01     4.900000
50%        4.300000  2.167000e+03    13.000000
75%        4.500000  5.553650e+04    30.000000
max        5.000000  7.815831e+07   100.000000

In [25]:
df['Size'].isnull().sum()

1695

In [26]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,Art_and_design,4.1,159,19.0,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,Art_and_design,3.9,967,14.0,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",Art_and_design,4.7,87510,8.7,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,Art_and_design,4.5,215644,25.0,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,Art_and_design,4.3,967,2.8,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [27]:
df['Installs'].isnull().sum()

0

**5th: Fix The Type Column**

In [29]:
df['Type'].isnull().sum()

1

In [30]:
df[df['Type'].isnull()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
9148,Command & Conquer: Rivals,Family,4.3,0,NaN,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device,Varies with device

In [31]:
df.dropna(subset = ['Type'],inplace = True)

In [32]:
df[df['Type'].isnull()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [33]:
df['Type'].unique()

array(['Free', 'Paid'], dtype=object)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10783 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10783 non-null  object
 1   Category        10783 non-null  object
 2   Rating          10783 non-null  float64
 3   Reviews         10783 non-null  int64
 4   Size            9089 non-null   float64
 5   Installs        10783 non-null  object
 6   Type            10783 non-null  object
 7   Price           10783 non-null  object
 8   Content Rating  10783 non-null  object
 9   Genres          10783 non-null  object
 10  Last Updated    10783 non-null  object
 11  Current Ver     10775 non-null  object
 12  Android Ver     10781 non-null  object
dtypes: float64(2), int64(1), object(10)
memory usage: 1.2+ MB

**6th: Fix The Price Column**

In [36]:
df['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$7.99', '$5.99', '$2.99', '$3.49',
       '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49', '$10.00',
       '$24.99', '$11.99', '$79.99', '$16.99', '$14.99', '$29.99',
       '$12.99', '$2.49', '$10.99', '$1.50', '$19.99', '$15.99', '$33.99',
       '$39.99', '$3.95', '$4.49', '$1.49', '$1.70', '$8.99', '$3.88',
       '$399.99', '$17.99', '$400.00', '$3.02', '$1.76', '$4.84', '$4.77',
       '$1.61', '$2.50', '$1.59', '$6.49', '$1.29', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$8.49', '$1.75', '$14.00', '$2.00',
       '$3.08', '$2.59', '$19.40', '$3.90', '$4.59', '$15.46', '$3.04',
       '$13.99', '$4.29', '$3.28', '$4.60', '$1.00', '$2.95', '$2.90',
       '$1.97', '$2.56', '$1.20'], dtype=object)

In [37]:
print(df['Price'].dtype)
print(df['Price'].isnull().sum())

object
0

In [38]:
def removal(price):
    if('$' in price):
        price = price.replace('$','')
        return(price)
    else:
        return(price)

In [39]:
df['Price'] = df['Price'].apply(removal)
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [40]:
df['Price'].describe()

count    10783.000000
mean         0.896743
std         15.242427
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        400.000000
Name: Price, dtype: float64

In [41]:
df['Price'].unique()

array([  0.  ,   4.99,   3.99,   6.99,   7.99,   5.99,   2.99,   3.49,
         1.99,   9.99,   7.49,   0.99,   9.  ,   5.49,  10.  ,  24.99,
        11.99,  79.99,  16.99,  14.99,  29.99,  12.99,   2.49,  10.99,
         1.5 ,  19.99,  15.99,  33.99,  39.99,   3.95,   4.49,   1.49,
         1.7 ,   8.99,   3.88, 399.99,  17.99, 400.  ,   3.02,   1.76,
         4.84,   4.77,   1.61,   2.5 ,   1.59,   6.49,   1.29, 299.99,
       379.99,  37.99,  18.99, 389.99,   8.49,   1.75,  14.  ,   2.  ,
         3.08,   2.59,  19.4 ,   3.9 ,   4.59,  15.46,   3.04,  13.99,
         4.29,   3.28,   4.6 ,   1.  ,   2.95,   2.9 ,   1.97,   2.56,
         1.2 ])

**7th: Fix The Content Rating Column**

In [43]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+', 'Unrated'], dtype=object)

In [44]:
df[df['Content Rating'] == 'Unrated']

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
7312,Best CG Photography,Family,4.3,1,2.5,500+,Free,0.0,Unrated,Entertainment,"June 24, 2015",5.2,3.0 and up
8266,DC Universe Online Map,Tools,4.1,1186,6.4,"50,000+",Free,0.0,Unrated,Tools,"February 27, 2012",1.3,2.3.3 and up

In [45]:
df['Content Rating'] = df['Content Rating'].replace('Unrated', 'Everyone')

In [46]:
df['Content Rating'].unique()

array(['Everyone', 'Teen', 'Everyone 10+', 'Mature 17+',
       'Adults only 18+'], dtype=object)

In [47]:
df.isnull().sum()

App                  0
Category             0
Rating               0
Reviews              0
Size              1694
Installs             0
Type                 0
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10783 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10783 non-null  object
 1   Category        10783 non-null  object
 2   Rating          10783 non-null  float64
 3   Reviews         10783 non-null  int64
 4   Size            9089 non-null   float64
 5   Installs        10783 non-null  object
 6   Type            10783 non-null  object
 7   Price           10783 non-null  float64
 8   Content Rating  10783 non-null  object
 9   Genres          10783 non-null  object
 10  Last Updated    10783 non-null  object
 11  Current Ver     10775 non-null  object
 12  Android Ver     10781 non-null  object
dtypes: float64(3), int64(1), object(9)
memory usage: 1.2+ MB

**8th: Fix The Android Ver Column**

In [50]:
df['Android Ver'].isnull().sum()

2

In [51]:
df['Android Ver'].unique()

array(['4.0.3 and up', '4.2 and up', '4.4 and up', '2.3 and up',
       '3.0 and up', '4.1 and up', '4.0 and up', '2.3.3 and up',
       'Varies with device', '2.2 and up', '5.0 and up', '6.0 and up',
       '1.6 and up', '1.5 and up', '2.1 and up', '7.0 and up',
       '5.1 and up', '4.3 and up', '4.0.3 - 7.1.1', '2.0 and up',
       '3.2 and up', '4.4W and up', '7.1 and up', '7.0 - 7.1.1',
       '8.0 and up', '5.0 - 8.0', '3.1 and up', '2.0.1 and up',
       '4.1 - 7.1.1', nan, '5.0 - 6.0', '1.0 and up', '2.2 - 7.1.1',
       '5.0 - 7.1.1'], dtype=object)

In [155]:
df[df['Android Ver'].isnull()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [53]:
df['Android Ver'].mode()

0    4.1 and up
Name: Android Ver, dtype: object

In [54]:
df['Android Ver'] = df['Android Ver'].fillna(df['Android Ver'].mode()[0])

In [55]:
df.describe()

             Rating       Reviews         Size         Price
count  10783.000000  1.078300e+04  9089.000000  10783.000000
mean       4.205824  4.465007e+05    21.573896      0.896743
std        0.482782  2.935311e+06    22.609137     15.242427
min        1.000000  0.000000e+00     0.010000      0.000000
25%        4.100000  3.900000e+01     4.900000      0.000000
50%        4.300000  2.167000e+03    13.000000      0.000000
75%        4.500000  5.554800e+04    30.000000      0.000000
max        5.000000  7.815831e+07   100.000000    400.000000

**9th: Fix The Installs Column**

In [57]:
print(df['Installs'].dtype)
print(df['Installs'].unique())

object
['10,000+' '500,000+' '5,000,000+' '50,000,000+' '100,000+' '50,000+'
 '1,000,000+' '10,000,000+' '5,000+' '100,000,000+' '1,000,000,000+'
 '1,000+' '500,000,000+' '100+' '500+' '50+' '10+' '1+' '5+' '0+']

In [58]:
df['Installs'] = df['Installs'].str.replace(',', '').str.replace('+', '')

In [59]:
df['Installs'] = df['Installs'].astype(int)

In [60]:
print(df['Installs'].dtype)
print(df['Installs'].unique())
print(df['Installs'].describe())

int32
[     10000     500000    5000000   50000000     100000      50000
    1000000   10000000       5000  100000000 1000000000       1000
  500000000        100        500         50         10          1
          5          0]
count    1.078300e+04
mean     1.554608e+07
std      8.524637e+07
min      0.000000e+00
25%      5.000000e+03
50%      1.000000e+05
75%      5.000000e+06
max      1.000000e+09
Name: Installs, dtype: float64

In [61]:
df.describe()

             Rating       Reviews         Size      Installs         Price
count  10783.000000  1.078300e+04  9089.000000  1.078300e+04  10783.000000
mean       4.205824  4.465007e+05    21.573896  1.554608e+07      0.896743
std        0.482782  2.935311e+06    22.609137  8.524637e+07     15.242427
min        1.000000  0.000000e+00     0.010000  0.000000e+00      0.000000
25%        4.100000  3.900000e+01     4.900000  5.000000e+03      0.000000
50%        4.300000  2.167000e+03    13.000000  1.000000e+05      0.000000
75%        4.500000  5.554800e+04    30.000000  5.000000e+06      0.000000
max        5.000000  7.815831e+07   100.000000  1.000000e+09    400.000000

**Remove The Outliers**

In [63]:
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    return df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]

numerical_columns = ['Rating', 'Installs', 'Size']
for col in numerical_columns:
    df = remove_outliers(df, col)

print(df[numerical_columns].describe())

            Rating      Installs         Size
count  7530.000000  7.530000e+03  7530.000000
mean      4.294641  1.421274e+06    16.827914
std       0.321541  2.982811e+06    15.505801
min       3.500000  0.000000e+00     0.010000
25%       4.100000  1.000000e+03     4.500000
50%       4.300000  5.000000e+04    11.000000
75%       4.500000  1.000000e+06    25.000000
max       5.000000  1.000000e+07    64.000000

In [64]:
df.describe()

            Rating       Reviews         Size      Installs        Price
count  7530.000000  7.530000e+03  7530.000000  7.530000e+03  7530.000000
mean      4.294641  4.203868e+04    16.827914  1.421274e+06     1.128607
std       0.321541  1.452191e+05    15.505801  2.982811e+06    17.670392
min       3.500000  0.000000e+00     0.010000  0.000000e+00     0.000000
25%       4.100000  1.700000e+01     4.500000  1.000000e+03     0.000000
50%       4.300000  5.815000e+02    11.000000  5.000000e+04     0.000000
75%       4.500000  1.704275e+04    25.000000  1.000000e+06     0.000000
max       5.000000  3.039889e+06    64.000000  1.000000e+07   400.000000

**Visualisation of the Numeric Data**

In [66]:
'''plt.figure(figsize=(15, 8))
for i, col in enumerate(numerical_columns, 1):
    plt.subplot(1, 3, i)
    sns.boxplot(y=df[col])
    plt.title(f'Boxplot of {col}')
plt.tight_layout()
plt.show()'''

"plt.figure(figsize=(15, 8))\nfor i, col in enumerate(numerical_columns, 1):\n    plt.subplot(1, 3, i)\n    sns.boxplot(y=df[col])\n    plt.title(f'Boxplot of {col}')\nplt.tight_layout()\nplt.show()"

### 1. What is the most expensive app on the Play Store?

In [68]:
x = df['Price'].max()
y = df[df['Price'] == x]['App'].values
print(f'{y}:{x}$')

["I'm Rich - Trump Edition"]:400.0$

### 2. Which genre has the highest number of apps?

In [70]:
name = df['Genres'].value_counts().keys()[0]
value = df['Genres'].value_counts()[0]
print(f'{name}:{value}')

Tools:612

C:\Users\LapTop\AppData\Local\Temp\ipykernel_29236\4100284128.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  value = df['Genres'].value_counts()[0]

### 3. What is the average size of free vs. paid apps?

In [72]:
Free = df[df['Type'] == 'Free']
Paid = df[df['Type'] == 'Paid']
Free = Free['Size'].mean()
Paid = Paid['Size'].mean()
print(f'Free apps size: {Free}')
print(f'Paid apps size: {Paid}')

Free apps size: 16.868478135788262
Paid apps size: 16.340017301038063

### 4. What are the top 5 most expensive apps with a perfect rating (5)?

In [74]:
exp = df[df['Rating']== 5]
exp.sort_values(by="Price", ascending=False, inplace=True)
exp = exp.head(5)
print(exp['App'])

7477                   USMLE Step 2 CK Flashcards
5246                        Hey AJ! It's Bedtime!
5482                   meStudying: AP English Lit
7204    TI-84 CE Graphing Calculator Manual TI 84
5237                       Hey AJ! It's Saturday!
Name: App, dtype: object

C:\Users\LapTop\AppData\Local\Temp\ipykernel_29236\1520214109.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exp.sort_values(by="Price", ascending=False, inplace=True)

### 5. How many apps have received more than 50K reviews?

In [76]:
famous = df[df['Reviews'] > 50000 ]
famous.count()[0]

C:\Users\LapTop\AppData\Local\Temp\ipykernel_29236\1284128216.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  famous.count()[0]

1152

### 6. What is the average price of apps, grouped by genre and number of installs?

In [78]:
print( df.groupby(['Genres','Installs'])['Price'].mean())

Genres  Installs
Action  10          0.000000
        50          0.995000
        100         0.330000
        500         0.000000
        1000        0.331667
                      ...
Word    50000       0.000000
        100000      0.000000
        1000000     0.000000
        5000000     0.000000
        10000000    0.000000
Name: Price, Length: 774, dtype: float64

### 7. How many apps have a rating higher than 4.7, and what is their average price?

In [80]:
rated = df[df['Rating'] > 4.7]
num = rated.count()[1]
avg = rated['Price'].mean()
print(f'Number of apps with rating more than 4.7: {num}')
print(f'Their Price: {avg}')

Number of apps with rating more than 4.7: 545
Their Price: 0.4490091743119266

C:\Users\LapTop\AppData\Local\Temp\ipykernel_29236\4067991517.py:2: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  num = rated.count()[1]

### 8. What is Google's estimated revenue from apps with 5,000,000+ installs?

In [82]:
inst = df[(df['Installs'] >= 5000000) & (df['Price'] > 0)]
print(inst['Price']*inst['Installs'].sum())

4034    9900000.0
Name: Price, dtype: float64

### 9. What are the maximum and minimum sizes of free vs. paid apps?

In [169]:
Free = df[df['Type'] == 'Free']
Paid = df[df['Type'] == 'Paid']
Free1 = Free['Size'].min()
Free2 = Free['Size'].max()
Paid1 = Paid['Size'].min()
Paid2 = Paid['Size'].max()
print(f'Free apps min size: {Free1}, max app size:{Free2}')
print(f'Paid apps min size: {Paid1}, max app size:{Paid2}')

Free apps min size: 0.01, max app size:64.0
Paid apps min size: 0.01, max app size:64.0

### 10. Is there a correlation between an app’s rating, number of reviews, size, and its price?

In [85]:
correlation_matrix = df[['Rating', 'Reviews', 'Size', 'Price']].corr()
plt.figure(figsize=(8, 6))
sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation between Rating, Reviews, Size, and Price')
plt.show()

"correlation_matrix = df[['Rating', 'Reviews', 'Size', 'Price']].corr()\nplt.figure(figsize=(8, 6))\nsns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)\nplt.title('Correlation between Rating, Reviews, Size, and Price')\nplt.show()"

### 11. How many apps exist for each type (free/paid) across different content ratings?

In [175]:
df.groupby(['Type', 'Content Rating']).size()

Type  Content Rating
Free  Adults only 18+       2
      Everyone           5713
      Everyone 10+        210
      Mature 17+          313
      Teen                714
Paid  Everyone            499
      Everyone 10+         25
      Mature 17+           16
      Teen                 38
dtype: int64

### 12. How many apps are compatible with Android version 4.x?

In [165]:
df[df['Android Ver'].str.startswith('4')].count()[1]

C:\Users\LapTop\AppData\Local\Temp\ipykernel_29236\217006649.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df[df['Android Ver'].str.startswith('4')].count()[1]

5442

In [167]:
# I tried my best without getting any answers from any AI source. Hope you found this code beneficial <3!